{% extends "base.html" %}
{% block title %} About {% endblock title %}
{% block body %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://source.unsplash.com/1200x900/?vanilla-icecream" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">A-S Ice Creams </h1>
        <p class="lead">Welcome to [A-S Ice creams], where indulgence meets convenience! 🍦 <br>At [A-S Ice creams], we believe that everyone deserves a scoop of happiness without leaving the comfort of their home. That's why we're excited to introduce our special home delivery service that brings the delightful experience of our premium ice cream creations directly to your doorstep</p>  
      </div>
    </div>
  </div>
{% endblock body %}