{% extends "base.html" %}
{% block title %} Contact {% endblock title %}
{% block body %} 
<div class = "container-fluid px-0 mb-3">
<img src="https://source.unsplash.com/1600x500/?phone,contact" class="d-block w-100" alt="...">
</div>

<div class="container px-5 mb-3 py-4">
<h3 class = "text-center">Place Your Order</h3>
<form method="post" action="/contact" onsubmit="return handleSubmit();" enctype="multipart/form-data">
  {% csrf_token %}
<div class = "form-group">
    <div class="mb-3">
        <label for="name">Name :</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
      </div>
      <div class="mb-3">
        <label for="address">Delivery Address</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter your Delivey Address">
      </div>
      <div class="mb-3">
        <label for="phone">Phone Number :</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your Phone">
      </div>
      <div class="mb-3">
        <label for="order">Order Number :</label>
        <input type="phone" class="form-control" id="order" name="order" placeholder="Enter your order Number">
      </div>
      <label for="image">Reference Image for your ice cream:</label><br>
      <input type="file" name = "image" class="form-control-file" id="image" accept="image/*">
    </div><br>
      <div class="mb-3">
        <label for="desc" >Enter your Suggestions ...</label>
        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" >Submitt</button>
</div>
</form>
<script>
  function handleSubmit() {
    // Your form submission logic can go here

    // Display the colorful and attractive alert message
    alert("Your order is placed!");
    return true; // Returning true allows the form to be submitted
  }
</script>
</div>
{% endblock body %}